<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>231282522270-qd59ru008i35ht6rnl5o9876p70l4gcq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.231282522270-qd59ru008i35ht6rnl5o9876p70l4gcq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>231282522270-odsjhmha7nq1tvjq7mdvogr08posu0b7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCOi4WnWiYniowUX-lwW6enKllIuOwnY0A</string>
	<key>GCM_SENDER_ID</key>
	<string>231282522270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fossgen.opdxpert</string>
	<key>PROJECT_ID</key>
	<string>healthcare-cpas</string>
	<key>STORAGE_BUCKET</key>
	<string>healthcare-cpas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231282522270:ios:3f6178dc8bbca810b1638f</string>
</dict>
</plist>